/* ===========================
   HERO
=========================== */

#hero{

    min-height:100vh;

    display:flex;

    align-items:center;

    background:

        linear-gradient(

            135deg,

            rgba(4,23,48,.88),

            rgba(8,43,94,.82)

        ),

        url("../assets/backgrounds/hero-bg.jpg");

    background-size:cover;

    background-position:center;

}
.hero-container{

    width:90%;

    max-width:1400px;

    margin:auto;

    display:grid;

    grid-template-columns:

        1fr
        1fr;

    gap:80px;

    align-items:center;

}
.hero-content{

   color:white;

}
.hero-tag{

    display:inline-block;

    padding:8px 18px;

    border-radius:50px;

    background:rgba(255,255,255,.08);

    border:1px solid rgba(255,255,255,.15);

    backdrop-filter:blur(12px);

    margin-bottom:25px;

}
/* ===========================
   NAVBAR
=========================== */

.navbar{

    position:fixed;

    top:0;

    left:0;

    width:100%;

    z-index:1000;

    background:rgba(11,45,92,.75);

    backdrop-filter:blur(16px);

    border-bottom:1px solid rgba(255,255,255,.10);

}

.nav-container{

    width:min(1400px,92%);

    margin:auto;

    height:80px;

    display:flex;

    align-items:center;

    justify-content:space-between;

}

.nav-menu{

    display:flex;

    gap:32px;

    list-style:none;

}

.nav-menu a{

    color:#FFFFFF;

    text-decoration:none;

    font-weight:500;

}

.logo-text{

    color:#FFFFFF;

    font-size:1.4rem;

    font-weight:700;

}